/* item_list.css */

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4개의 열로 구성 */
    grid-gap: 20px; /* 각 제품 간의 간격 */
    padding: 20px; /* 그리드 전체 패딩 */
}

.product-detail {
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* 
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-detail {
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
} */

.product-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-detail h1 {
    font-size: 1.25em;
    margin: 10px 0;
}

.product-detail p {
    margin: 10px 0;
}

.product-detail button {
    padding: 10px 20px;
    background-color: #FAE372;
    border: none;
    color: #030303;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.product-detail button:hover {
    background-color: #FAE372;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* :visited 상태의 링크 색상을 기본 색상으로 설정 */
.pagination a:visited {
    color: black;
}
