.post-view-container {
    display: flex;
    max-width: 800px;
    background: #fff;
    padding: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
}

.post-image {
    flex: 1;
    text-align: center;
}

.post-image img {
    max-width: 100%;
    border-radius: 10px;
}

.post-content {
    flex: 2;
    margin-left: 40px;
}

.post-content h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.post-content p {
    color: #555;
    margin-bottom: 20px;
}
.post-actions {
    display: flex;
    gap: 10px;
   /* align-items: center;
    justify-content: center; /* 버튼을 중앙에 정렬 */
    margin-left:50px;
    
}

.post-actions button {
    padding: 8px 8px;
    background-color: #FAE372;
    border: none;
    color: white;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin: 0 10px;
    margin-top: 100px;
}

.post-actions .like-button {
    background-color: rgb(255, 179, 102);
}

.post-actions .edit-button {
    background-color:  #f8b400;
}

.post-actions .delete-button {
    background-color: rgb(255, 140, 26);
}

.post-actions button:hover {
    opacity: 0.8;
}
